html,body {
  width:100%;
  height:100%;
  padding:0px;
  margin: 0px;
  font-family: sans-serif;
}

.wrapper{
  width:auto;
  height:inherit;
}

.header{
  height:50%;
  width:75%;
  margin: 5% 0% 0% 12%;
}

.blur{
    filter:blur(3px);
    transition: all 0.5s ease;
}

.img{
  position:absolute;
  z-index : 1;
  transform: scale(1,1);
    transition: all .5s;
}

#img6{
  height: inherit;
  left: 65%;
}

#img5{
  height: 38%;
  left: 38%;
}

#img4{
  height: 37%;
  left: 47.7%;
  top: 22.7%;
}

#img3{
  height: inherit;
  width: 13%;
}

#img2{
  height: 23%;
  top: 37%;
  width: 27%;
  left: 22.6%;
}

#img1{
  height: 37%;
  top: 10%;
  width: 29%;
  left: 15%;
}
